* {
    box-sizing: border-box;
}

body{
  position: relative;
}

h1, h3, h4{
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Playfair Display', serif;
}

.logo{
  height: 120px;
  margin-top: 5px;
}

.navDiv{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.smallLogo{
  height: 70px;
  margin-right: 20px;
}

h3{
  padding: 10px;
  border-bottom: 2px solid black;
  border-left: 1px solid black;
  font-size: 20px;
}

h4{
  padding: 10px;
  border-radius: 8px;
  border-bottom: 2px solid black;
}

nav{
  background-color: #0083A0;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    margin-top: 100px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

a{
  text-decoration: none;
}

.navLink{
  color: white;
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.navLink:hover {
  color: #0083A0;
  background-color: white;
  border: 1px solid white;
  box-shadow: 5px 5px 5px rgb(32, 32, 32);
}

.burgerMenu{
  display: none;
}

.windowCover {
  display: none;
}

.navLinkDisabled{
  color: #0083A0;
  background-color: white;
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

/*Dyslexia page*/

.fishtree{
  display: block;
  height: 328px;
  margin: 60px auto 0 auto;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  padding: 10px;
  animation: fadeInDys 1.5s;
}

.dyslexiaIntro {
  width: 70%;
  margin: 60px auto 20px auto;
  background-color: #09B8A9;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 5px 5px 5px rgb(2, 22, 68);
  font-family: 'Open Sans', sans-serif;
  line-height: 140%;
  font-size: 18px;
  animation: fadeInDys 1.5s;
}

@keyframes fadeInDys {
  from {
    opacity: 0;
    margin-top: 160px;
  }
  to {
    opacity: 1;
    margin-top: 60px;
  }
}

.paragraph{
  padding-top: 0;
}

.bkgdTriangle{
  position: absolute;
  z-index: -1;
  right: 28%;
  width: 0;
  height: 0;
  border-top: 600px solid #B81CA5;
  border-left: 700px solid transparent;
  margin-top: 65px;
}

.screenTutoBox{
  display: flex;
  justify-content: space-between;
}

.top, .bottom{
  width: 40%
}

.top{
  margin-bottom: 250px;
  animation: fadeInDys 1s;
}

.bottom{
  margin-top: 250px;
  animation: fadeInBottom 1s;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    margin-top: 350px;
  }
  to {
    opacity: 1;
    margin-top: 250px;
  }
}

.signsList{
  width: max-content;
  margin-left: 30px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.questionnaire{
  width: max-content;
  margin: 80px auto;
  padding: 10px;
  border-radius: 15px;
  border: 4px solid black;
  font-family: 'Open Sans', sans-serif;
}

.questionnaireLink {
  display: block;
  width: max-content;
  padding: 10px;
  border-radius: 5px;
  background-color: #0938AD;
  box-shadow: 5px 5px 5px rgb(32, 32, 32);
  color: rgb(250, 250, 250);
  font-weight: bolder;
  margin: 10px auto 0 auto;
}

/*Home Page*/

.bodyBox{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: fit-content;
  animation: fadeIn 1.5s;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  line-height: 140%;
  font-size: 18px;
}

.etymology{
  display: inline-block;
  margin: 10px;
}

.colorBox{
  position: absolute;
  right: -30px;
  top: -10px;
  height: 110%;
  width: 90px;
  background-color: #41F2C0;
  z-index: -1;
}

.picture{
  position: relative;
  margin: 20px;
}

.maddiebus{
  height: 500px;
}

.dyslexiaBox{
  background-color: #09B8A9;
  width: 45%;
  min-width: 300px;
  min-height: 300px;
  height: max-content;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 5px 5px 5px rgb(2, 22, 68);
}

p{
  padding: 20px;
}

footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0083A0;
  height: 70px;
}

.footerLink{
  color:black;
  border-bottom: 1px solid black;
}

/*Warning Signs & Accomodations*/

.warningSigns, .accommodations{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #09B8A9;
  box-shadow: 5px 5px 5px rgb(2, 22, 68);
  border-radius: 5px;
  margin: 20px 30px 70px 30px;
  animation: fadeInAccomm 1s;
}

@keyframes fadeInAccomm {
  from {
    opacity: 0;
    margin-top: 100px;
  }
  to {
    opacity: 1;
    margin-top: 20px;
  }
}

.warningSection, .accommSection{
  width: 450px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(1, 7, 20);
  margin: 10px;
  padding: 20px;
  background-color: rgb(199, 243, 243);
  font-family: 'Open Sans', sans-serif;
  line-height: 140%;
  font-size: 18px;
}

.description{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
}

/*Resources Page*/

.resources{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 50px;
  margin-top: 20px;
  background-color: #09B8A9;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(2, 22, 68);
  margin-bottom: 70px;
  animation: fadeInAccomm 1s;
}

.resourceLink{
  margin: 5px;
  list-style-type: none;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
}

.linkBlock > ul{
  padding-left: 5px;
}


.resourceLink > a {
  display: block;
  width: max-content;
  max-width: 90%;
  color: black;
  border: 1px solid white;
  background-color: lightblue;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 3px 3px 3px rgb(0, 4, 12);
}

.resourceLink > a:hover{
  background-color:  rgb(10, 210, 255);
  border: 1px solid #0083A0;
}

.resourceLink > span {
  display: block;
  margin: 5px;
}

.linkBlock{
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(1, 7, 20);
  width: 40%;
  margin-bottom: 20px;
  background-color: rgb(199, 243, 243);
}

/*smaller screen*/

@media (hover: none){
  /* Home Page */
  .linkBox, .navLinkDisabled{
    display: none;
  }

  .navLink{
  box-shadow: 3px 3px 3px rgb(32, 32, 32);
  }

  .burgerDropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #0083A0;
    z-index: 3;
    top: 100px;
    right: 0;
    border-radius: 5px;
    animation-name: slideDown;
    animation-duration: 1s;
  }

  @keyframes slideDown {
    from{right: -150px}
    to {right: 0}
  }

  .windowCover{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
  }

 .bodyBox{
  flex-direction: column;
  }

  h3{
    width: initial;
    margin: 20px 20px 0 20px;
  }

  .happyChildren{
    height: 150px;
  }

  .maddiebus{
    height: 200px;
  }

  .burgerMenu{
    display: block;
    padding: 20px;
  }

  .smallLogo{
    margin-right: 3px;
  }

  .flip{
    flex-direction: column-reverse;
  }

  /*Dyslexia Page*/
  .fishtree{
    height: 150px;
  }

  .dyslexiaIntro{
    width: 95%;
  }

  .signsList{
    width: 90%;
  }

  .questionnaire{
    width: 90%;
  }

  /* Accommodations Page*/
  .longTitle{
    font-size: 20px;
  }

  .accommodations, .warningSigns{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }  

  .description{
    width: 95%;
  }

  .warningSection, .accommSection{
    padding: 5px;
  }

  /*Services Page*/
  .bkgdTriangle{
    display: none;
  }

  .screenTutoBox{
    flex-direction: column;
  }

  .top, .bottom{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /*Resources Page*/
  .linkBlock{
    width: 95%
  }
}