* {
    box-sizing: border-box;
}

body{
  position: relative;
}

h1, h3{
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

nav{
  background-color: rgba(140, 114, 224, 0.9);
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
}

a{
  text-decoration: none;
}

.navLink{
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}

.fishtree{
  height: 300px;
}

.questionnaire{
  border: 1px solid black;
}

.bodyBox{
  margin-top: 60px;
  background-image: url('./Images/gradientaBackground.jpg');
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: fit-content;
}

.dyslexiaBox, .communicationBox{
 width: 45%;
 min-width: 300px;
 min-height: 300px;
 height: max-content;
 background-color: rgb(187, 200, 228);
 border-radius: 5px;
 margin: 10px;
 box-shadow: 5px 5px 5px;
}

p{
  padding: 20px;
}

@media (hover: none){
  .bodyBox{
    flex-direction: column;
    align-items: center;
  }

  .dyslexiaBox, .communicationBox{
    min-width: 45;
  }

  .navLink{
    display: none;
  }
}